.header
    .logo
      a(href="/").logo__link
        img(src="images/logo.png", alt="").logo__img
    .header__inner
      nav.navigation
        ul.navigation__inner
          li.navigation__item    
            a(href="#").navigation__link Home
          li.navigation__item    
            a(href="#").navigation__link About
          li.navigation__item    
            a(href="#").navigation__link Portfolio
          li.navigation__item    
            a(href="#").navigation__link Services
          li.navigation__item    
            a(href="#").navigation__link Page
          li.navigation__item    
            a(href="#").navigation__link Elements
      .button Contact us