extends /layout/app

block content
  .container
    .section.about-section
      .img__test
        img(src="./vector-smart-object.png", alt="vector smart object")
      article.section__article
        span.section__header About SEO agency
        h2.section__article-header Our SEO marketing team integrates strategy
        span.letter S
        p.section__article-paragraph We’re on a mission to start a conversation with your customers in this fast connected world. 
        p.section__article-paragraph--thin Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem 
        .button.section__article-button Learn more
    .section.offers-section
      .offers
        .offers__column
          .offers__item
            .offers__item-icon
              img(src="", alt="")
            .offers__item-header Content Marketing
            .offers__item-content We craft great content that keep your users interested and coming back for more. I have mixed feelings about the explosion of web content.
        .offers__column
          .offers__item
          .offers__item
        .offers__column
          .offers__item

    




