.button
  padding: 22px 42px
  border-radius: 30px
  background-color: #ff3b69
  color: #ffffff
  font-size: 18px
  width: fit-content
  font-family: 'Overpass'
  cursor: pointer

.section
  display: flex
  align-items: center
  padding: 100px


.section__article
  max-width: 572px
  position: relative

.section__header
  color: #ff5a71
  font-family: Overpass
  display: block
  font-size: 22px
  margin-bottom: 30px

.section__article-header
  color: #282828
  font-family: Nunito
  font-size: 50px
  font-weight: 700
  line-height: 50px
  margin-bottom: 42px

.section__article-button
  border-radius: 0
  background-image: linear-gradient(-56deg, #ff5a71 0%, #ff9669 100%)

.img__test
  max-width: 582px
  margin-right: 90px

.about-section
  position: relative
  z-index: 0
  padding: 179px 0px 193px 102px
  background-image: url('./about-section-bg.png')
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.section__article-paragraph
  font-family: 'Overpass'
  font-size: 22px
  line-height: 30px

  &--thin
    font-size: 16px
    
    &:not(:last-child)
      margin-bottom: 40px
      
  &:not(:last-child)
    margin-bottom: 20px

.letter
  position: absolute
  top: 20px
  font-size: 270px
  font-family: 'Overpass-Bold'
  z-index: -1
  line-height: 30px
  color: #feefeb
  font-weight: 700

.offers-section
  justify-content: center

.offers
  display: flex

.offers__column
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  &:not(:last-child)
    margin-right: 30px
    

.offers__item
  width: 370px
  height: 450px
  background: red

  &:not(:last-child)
    margin-bottom: 41px

  