.footer
  .main-info.footer__main-info
    .contacts
      .logo.footer__logo
        a(href="/").logo__link
          img(src="images/logo.png", alt="").logo__img
      adress.contacts__item.contacts__address 75 Arlington St. Suite 500 Boston, MA 02116, USA 
      span.contacts__item.contats__number +088 01912704287
      span.contacts__item.contacts__email infooffice@gmail.com
    .navigation__container
      nav.navigation.footer__navigation
        .navigation__header Company
        ul.navigation__inner.footer__navigation-inner
          li.navigation__item    
            a(href="#").navigation__link Home
          li.navigation__item    
            a(href="#").navigation__link About
          li.navigation__item    
            a(href="#").navigation__link Portfolio
          li.navigation__item    
            a(href="#").navigation__link Services
          li.navigation__item    
            a(href="#").navigation__link Page
          li.navigation__item    
            a(href="#").navigation__link Elements

      nav.navigation.footer__navigation
        .navigation__header Solution
        ul.navigation__inner.footer__navigation-inner
          li.navigation__item    
            a(href="#").navigation__link Digital maeketing
          li.navigation__item    
            a(href="#").navigation__link Phototype
          li.navigation__item    
            a(href="#").navigation__link Development
          li.navigation__item    
            a(href="#").navigation__link Design
          li.navigation__item    
            a(href="#").navigation__link Business Strategy
          li.navigation__item    
            a(href="#").navigation__link Agency protfolio
  .additional-info
    .copyright Copyrights 2019 Template_mr Template
    .mobile-apps
      .mobile-apps__text Mobile Apps :
      .mobile-apps__items
        .mobile-apps__item
          img(src="./icons/apps.png", alt="appstore")
    .navigation__container
      ul.navigation__inner.footer__navigation-inner.footer__navigation-inner--row
        li.navigation__item    
          a(href="#").navigation__link Privacy Policy 
        li.navigation__item    
          a(href="#").navigation__link Customer Support
        li.navigation__item    
          a(href="#").navigation__link Careers 